pre {
  background-color: powderblue;
  padding: 8px;
}

.console {
  background-color: #4f4f4f;
  color: #80d4aa;
  padding: 8px;
  overflow-y: auto;
}

a.state:link {
  color: blue;
}

a.state:visited {
  color: purple;
}
